{% extends 'main/base.html' %}
{% load custom_filters %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div class="about">
    <h2>About</h2>
    <div class="card">
        <p>Welcome to Product Tracker, the ultimate platform for keeping an eye on your favorite products and their
            prices!
            <br>
            <br>
            Product Tracker is designed to make it easy for you to monitor and track the prices of products from various
            online stores. By simply adding a product link to your tracking list, you'll be able to keep track of the
            latest
            prices and receive email notifications whenever a price change occurs.
            <br>
            <br>
            Our mission is to help you save both time and money when shopping online. With Product Tracker, you no
            longer
            need to manually check the prices of the products you're interested in. Our platform does the heavy lifting
            for
            you, so you can make informed purchasing decisions and never miss out on a great deal.
        </p>
    </div>
</div>
{% endblock %}