<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Tracker - {%block title%}Base{%endblock%}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extrahead %}{% endblock %}

</head>

<body>
    <nav class="fixed-nav-bar">
        <a href="/index">
            <div class="logo"><span>Product</span>Tracker</div>
        </a>
        <input type="checkbox" id="menuButton" />
        <label for="menuButton" class="menu-button-label">
            <div class="white-bar"></div>
            <div class="white-bar"></div>
            <div class="white-bar"></div>
            <div class="white-bar"></div>
        </label>
    </nav>

    <div class="the-bass">
        <div class="rela-block drop-down-container">
            {% if user.is_authenticated %}
            <div class="drop-down-item">
                <button onclick="update_site_location('{% url 'user_profile' username=user.username %}')">
                    {{ user.username }}</button>
            </div>
            {% else %}
            <div class="drop-down-item">
                <button onclick="update_site_location('/login')">Login</button>
            </div>
            {% endif %}
        </div>
        <div class="rela-block drop-down-container">
            <div class="drop-down-item">
                <button onclick="update_site_location('/create-product')">New Product</button>
            </div>
        </div>
        <div class="rela-block drop-down-container">
            <div class="drop-down-item">
                <button onclick="update_site_location('/about')">About</button>
            </div>
        </div>
        <div class="rela-block drop-down-container">
            <div class="drop-down-item">
                <button onclick="update_site_location('/contact')">Contact</button>
            </div>
        </div>
        <div class="rela-block drop-down-container">
            <div class="drop-down-item">
                <button onclick="update_site_location('/edit_profile')">Settings</button>
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2022 Price Tracker. All Rights Reserved.</p>
    </footer>
    <script src="{% static 'scripts/index.js' %}"></script>
</body>

</html>