{% extends 'main/base.html' %}
{% load custom_filters %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div class="form-group">
    <label for="sort_by">Sort by:</label>
    <select id="sort_by" class="form-control" onchange="location = this.value;">
        <option value="?sort_by=date_added" {% if request.GET.sort_by|equalto:"date_added" %}selected{% endif %}>Date
            Added</option>
        <option value="?sort_by=name" {% if request.GET.sort_by|equalto:"name" %}selected{% endif %}>Name</option>
        <option value="?sort_by=price" {% if request.GET.sort_by|equalto:"price" %}selected{% endif %}>Price</option>
    </select>
</div>

{% for product in products %}
<div class="card mt-2">
    <div class="card-header"><strong>Created by @<a href="{% url 'user_profile' username=product.author.username %}"
                class="link">{{product.author.username}}</a></strong></div>
    <div class="card-body d-flex flex-row justify-content-between">
        <div>
            <h5 class="card-title"><b>{{product.name}}</b></h5>
            {% if product.price == 0 %}
            <p>N/A</p>
            {% else %}
            <p>{{product.price}} :-</p>
            <a href="{{product.link}}">link</a>
            {% endif %}
        </div>
        <div>

            <form method="POST" action="{% url 'track_product' product.id %}?next={{ request.get_full_path|urlencode}}">
                {% csrf_token %}
                {% if product|is_tracking:user %}
                <button type="submit" class="btn btn-primary">
                    Untrack
                </button>
                {% else %}
                <button type="submit" class="btn btn-primary">
                    Track
                </button>
                {% endif %}
            </form>
        </div>
        <div>
            {% if user == product.author %}
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="product-id" value="{{product.id}}">
                    Delete
                </button>
            </form>

            <a href="{% url 'edit_product' product.id %}" class="btn btn-secondary">Edit</a>

            {% endif %}
        </div>
    </div>
    <div class="card-footer text-muted">{{product.date_added}}</div>
</div>
{% empty %}
<p>No posts yet</p>
{% endfor %}
{% endblock %}