{% extends 'main/base.html' %}
{% load custom_filters %}
{% block title %}
User Profile - {{ user_profile.username }}
{% endblock %}
{% block content %}

<h2>Products Posted by @{{ user_profile.username }}</h2>
{% for product in posted_products %}
<div class="card">
    <div class="card-header">Created by <a href="{% url 'user_profile' username=product.author.username %}"
            class="link">@{{product.author.username}}</a></div>
    {% if user == product.author %}
    <div class="card-body">
        {% else %}
        <div class="card-body card-extra-padding">
            {% endif %}
            <div class="product-name">
                <h5><b>{{product.name}}</b></h5>
                {% if product.price == 0 %}
                <p>N/A</p>
                {% else %}
                <p>{{product.price}} :-</p>
                <a href="{{product.link}}">Product link</a>
                {% endif %}
            </div>
            <div class="actions">
                <div>
                    <form method="POST"
                        action="{% url 'track_product' product.id %}?next={{ request.get_full_path|urlencode}}">
                        {% csrf_token %}
                        {% if product|is_tracking:user %}
                        <button type="submit" class="btn btn-primary">
                            Untrack
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-primary">
                            Track
                        </button>
                        {% endif %}
                    </form>
                </div>
                {% if user == product.author %}
                <button class="btn btn-success" onclick="update_site_location('{% url 'edit_product' product.id %}')">
                    Edit
                </button>
                {% endif %}
                <div>
                    {% if user == product.author %}
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="product-id" value="{{product.id}}">
                            Delete
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">Posted {{product.date_added}}</div>
    </div>
    {% empty %}
    <p class="empty">No products posted yet.</p>
    {% endfor %}

    <h2>Tracked Products</h2>
    {% for product in tracked_products %}
    <div class="card">
        <div class="card-header">Created by <a href="{% url 'user_profile' username=product.author.username %}"
                class="link">@{{product.author.username}}</a></div>
        {% if user == product.author %}
        <div class="card-body">
            {% else %}
            <div class="card-body card-extra-padding">
                {% endif %}
                <div class="product-name">
                    <h5><b>{{product.name}}</b></h5>
                    {% if product.price == 0 %}
                    <p>N/A</p>
                    {% else %}
                    <p>{{product.price}} :-</p>
                    <a href="{{product.link}}">Product link</a>
                    {% endif %}
                </div>
                <div class="actions">
                    <div>
                        <form method="POST"
                            action="{% url 'track_product' product.id %}?next={{ request.get_full_path|urlencode}}">
                            {% csrf_token %}
                            {% if product|is_tracking:user %}
                            <button type="submit" class="btn btn-primary">
                                Untrack
                            </button>
                            {% else %}
                            <button type="submit" class="btn btn-primary">
                                Track
                            </button>
                            {% endif %}
                        </form>
                    </div>
                    {% if user == product.author %}
                    <button class="btn btn-success"
                        onclick="update_site_location('{% url 'edit_product' product.id %}')">
                        Edit
                    </button>
                    {% endif %}
                    <div>
                        {% if user == product.author %}
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" name="product-id" value="{{product.id}}">
                                Delete
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">Posted {{product.date_added}}</div>
        </div>
        {% empty %}
        <p class="empty">No products tracked yet.</p>
        {% endfor %}

        {% endblock %}